@import "reset.css";

@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Oxygen);

body {
    background: #fff url(/web/images/body-bg.png);
    min-width: 300px;
    padding: 0;
    margin: 0;
    font: 13px/21px "Ubuntu", Arial, Helvetica, sans-serif;
    color: #727272;
}

a {
    color: #727272;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: #5272a5;
}
.wrapper {
    width: 960px;
    margin: 0 auto;
}

.wrapper > div {
    max-width: 100%;
}

.header {
    background: #fff;
    text-align: center;
    padding: 30px;
}

.top-menu {
    background: #fff;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    min-height: 50px;
    text-align: center;
}

.top-menu ul {
    list-style-type: none;
    margin: 10px auto 10px;
    padding: 23px 0px 22px;
    display: inline-block;
}
.top-menu ul li {
    float: left;
    position: relative;
    margin-left: 15px;
}

.top-menu ul li a {
    color: #323232;
    text-decoration: none;
    font: 14px/22px "Oxygen", Georgia, sans-serif;
}

.slider {
    border: 1px solid #d8d8d8;
    min-height: 300px;
    width: 958px;
    margin: 2px auto;
    background: #fff;
    text-align: center;
}

.features {
    display: inline-block;
}
.features > div {
    float: left;
    display: block;
    width: 300px;
    margin-top: 24px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 34px 0 22px;

}
.features .single-feature {
    height: 90px;

    border-top: 3px double #dcdcdc;
    border-bottom: 3px double #dcdcdc;
}
.features .single-feature-2 {
    height: 500px;
}
.features .single-feature-2 a {
    color: #323232;
}



.features .single-feature img {
    float: left;
    display: inline-block;
    margin-right: 5px;
}
.features .single-feature .text {
    max-width: 220px;
    margin-left: 10px;
    display: inline-block;
}
.features .single-feature .text h4 {
    color: #323232;
    text-transform: uppercase;
    margin: 0;
    font: bold 18px/24px 'Ubuntu', Arial, sans-serif;
}
.features .single-feature .text a {
    color: #323232;
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
}

.single-feature-2 h3 {

    font: 24px/30px 'Ubuntu', Arial, sans-serif;
    color: #323232;
    margin-top: 34px;
    text-transform: uppercase;
    letter-spacing: 0px;
    padding-left: 20px;
    background: url(/web/images/h3-arrow.png) 0 8px no-repeat;
}

.single-feature-2 img {
    margin-top: 23px;
    margin-bottom: 18px;
    border: 1px solid #d9d9d9;
}

.welcome-message {
    text-align: center;
    border-bottom: 1px solid #dcdcdb;
    padding-bottom: 25px;
}
.welcome-message h2 {
    color: #323232;
    margin: 0;
    margin-top: 10px;
    text-transform: uppercase;
    display: inline-block;
    width: 100%;

    font: bold 30px/30px 'Ubuntu', Arial, sans-serif;
}
.welcome-message h3 {
    font: 20px/30px 'Ubuntu', Arial, sans-serif;
    color: #939393;
}
.welcome-message p {
    margin: 0;
    margin-top: 3px;
    font: 12px/21px 'Ubuntu', Arial, sans-serif;
}

a.button {
    color: #323232;
    margin: 10px;
    padding: 8px 16px;
    margin-top: 25px;
    border: 1px solid #cdcdcd;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font: bold 18px/24px "Ubuntu", Arial, sans-serif;
    text-transform: uppercase;
}

.mini-articles {
    display: inline-block;
    border-top: 1px solid #dcdcdc;

    border-bottom: 3px double #dcdcdc;
}
.mini-articles .single-article {
    width: 380px;
    float: left;
    padding-left: 50px;
    padding-right: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
    padding-bottom: 30px;
}
.mini-articles .single-article:nth-child(1) {
    border-right: 1px solid #dcdcdc;
}

.pre-footer {
    clear: both;
    display: inline-block;

    border-bottom: 3px double #dcdcdc;
}
.pre-footer > div {
    float: left;
    margin-top: 20px;
    padding-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.pre-footer .sub-prefooter-1 {
    width: 380px;
    padding-left: 50px;
    padding-right: 30px;
    border-right: 1px solid #dcdcdc;
}
.pre-footer .sub-prefooter-2 {
    float: left;
    width: 180px;
    padding-left: 30px;
    padding-right: 10px;
    border-right: 1px solid #dcdcdc;
}
.pre-footer .sub-prefooter-3 {
    padding-left: 30px;
    padding-right: 10px;
    width: 180px;
}

.footer {
    display: inline-block;
    width: 100%;
}
.footer > div {
    float: left;
}
.footer .partners {
    float: right;
}

.paginator {
    width: 50%;
    list-style-type: none;
    margin: 0 auto;
}
.paginator li {
    float: left;
    margin-left: 10px;
}

.contents {
    background: #fff;
    padding: 5px 20px 10px 20px;
    min-height: 250px;
}
.contents h2 {
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #0073ED;
}
